.App {
  font-family: sans-serif;
  text-align: center;
  margin: 30px auto;
}

.active-page {
  color: green;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;
  border-bottom: 1px solid lightblue;
  height: 50px;
  width: 100%;
  text-transform: uppercase;
}

.card {
  font-size: 28px;
  min-height: 50vh;
  width: 20%;
  justify-content: center;
  align-items: center;
  border: 2px solid lightblue;
  background: linear-gradient(#aefff4, #335a86);
  padding: 40px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}
.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.flashcard-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 50px auto;
  min-height: 60vh;
  width: 40%;
}
.img {
  padding: 40px;
  border-radius: 8px;
}

.scores-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 40px auto;
  padding: 40px;
  border-radius: 8px;
  width: 60%;
}

.table {
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 30px;
  margin: 40px;
}

.form-header {
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
  border-bottom: 1px solid lightblue;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
