.App {
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 90vh;
}
.body {
  font-family: 'Open Sans', sans-serif;
}
.h1,
h2,
h3,
h4,
h5 {
  font-family: 'Balsamiq Sans', cursive;
}

.active-page {
  color: green;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;
  color: lightyellow;
  border-bottom: 1px solid lightblue;
  height: 50px;
  width: 100%;
  font-size: 20px;
}

.choices-container {
  display: grid;
  justify-items: left;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 150px;
  column-gap: 15px;
  row-gap: 20px;
}

.flashcard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.card {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: black;
  min-height: 50vh;
  width: 20%;
  justify-content: center;
  align-items: center;
  border: 2px solid lightblue;
  background: linear-gradient(#aefff4, #335a86);
  padding: 40px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}
.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 50px auto;
  min-height: 50vh;
  width: 70%;
}
.img {
  padding: 40px;
  border-radius: 8px;
}

.scores-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 40px auto;
  padding: 40px;
  border-radius: 8px;
  width: 60%;
}

.table {
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 30px;
  margin: 40px;
}

.form-header {
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
  border-bottom: 1px solid lightblue;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
.about {
  margin: 30px auto;
  width: 60%;
}
.btn {
  height: 65px;
  width: 200px;
  text-align: center;
  line-height: 50px !important;
  border-radius: 10px;
  margin: 20px auto;
  font-size: 20px !important;
}
